{% extends 'reg-template.html' %}

{% block title %}
    Log In
{% endblock %}

{% block content %}
<div class="main-content pe-5 ps-5">
    <h1 class="text-center text-white fs-1 mb-5">Ipsum Blogs</h1>
    <div class="border-3 border pt-4 rounded-3 pb-3 pe-5 ps-5 mt-5">
        <h2 class="text-center text-white">Log In</h2>
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <div class="mb-3">
                {{ form.username.label(class="form-label fs-4 text-white") }}
                {{ form.username(class="form-control text-white bg-secondary border-dark fs-5") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label fs-4 text-white") }}
                {{ form.password(class="form-control text-white bg-secondary border-dark fs-5") }}
            </div>
            <div class="mb-3 mt-4 text-center">
                {{ form.submit(class="btn btn-warning btn-block pe-5 ps-5 text-dark fw-bold") }}
            </div>
            <div class="text-center text-white">
                <small>Don't have an Account ?</small>
                <a href="{{ url_for('register_page') }}">Create One</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}